/* Base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#fff, #F0F1FF);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

img {
    max-width: 100%;
}

.button {
    display: inline-block;
    font-weight: 700;
    border-radius: 28px;
    padding: 0.625em 1.5em;
    line-height: 1.625;

}

.primary {
    color: #fff;
    background-color: #13183f;
}

.secondary {
    background-image: linear-gradient(#FF6F48, #F02AA6);
    color: #fff;
}

.tertiary {
    color: #fff;
    background-image: linear-gradient(#4851FF, #F02AA6);
}

/* Typography */

h1 {
    color: #13183f;
    font-size: 2.5rem;
    margin: 0.65em auto;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    color: #13183f;
    font-size: 1.25rem;
    margin: 1.25em auto 0;
}

p {
    color: #83869a;
    line-height: 1.625;
    margin: 1.5em auto;
}

a {
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.625;
    text-decoration: none;
    outline: none;
}

/* Layout and Appearance */

.header {
    align-items: end;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin: 2em 1em;
}

.picture {
    background-image: url(./assets/image-hero-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2.5em auto;
    min-width: 288px;
    text-align: center;
    height: 300px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 3em;
    margin: 2em 1em;
}

.feature {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 1.75em;

}

.feature img {
    position: absolute;
    top: -25px;
}

.feature p {
    margin-block-start: 1em;
}

.feature .button {
    color: #f74780;
    padding: 0;
}

.unique {
    border-radius: 10px;
    color: #fff;
    background-image: linear-gradient(#FF6F48, #F02AA6);
}

.footer {
    background-color: #13183f;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2.5em 1em;
    margin-block-start: 5em;
}

/* Media Queries */

@media screen and (min-width: 615px) {

   

    .header {
        margin: 1.5em 2.5em;
    }

    .footer {
        padding: 2.5em 2.5em; 
    }

    .hero {
        margin: 0 0 2em 2.5em;
        height: 500px;
        padding-block-start: 1.5em;
    }

    .wrapper {
        background-image: url(./assets/image-hero-tablet.png);
        background-position: right -265px top -75px; 
        background-repeat: no-repeat;
        background-size: 640px 640px;
    }

    .picture {
        background-image: none;
        margin: 0;
        object-fit: cover;
        position: relative;
        overflow: hidden;
        
    }

    .picture img {
        max-width: none;
        width: 640px;
        height: 640px;
        position: absolute;
        bottom: 0;
        right: -300px;
    }

    .features {
        margin: 2em 2.5em;
    }
}